body {
    background: #BBBBBB;

    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-shadow: 0px 1px 3px #DDD;
}
body strong {
    color: #222;
    text-shadow: 0px 1px 2px #DDD;
}
textarea {
    border: 1px solid #888;
    resize: none;
    overflow: auto;
    vertical-align: middle;
}
#about {
    width: 500px;
    margin: 25px auto;
}

#status, #controls {
    width: 400px;
    height: 400px;
    margin: 25px auto;
    text-align: center;
}

#paper {
    width: 500px;
    height: 500px;
    margin: 25px auto;
    background: #EEEEEE;


  /* copy-pasted from the wonderful http://css3please.com/ */
  -webkit-border-radius: 10px; 
     -moz-border-radius: 10px;
          border-radius: 10px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

  -webkit-box-shadow: 1px 2px 8px 1px #333333; 
     -moz-box-shadow: 1px 2px 8px 1px #333333;
          box-shadow: 1px 2px 8px 1px #333333;
}
